body {
  font-family: Arial;
  max-width: 500px;
  margin: 20px auto;
}

input, textarea, button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}

.post {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}

img, video {
  max-width: 100%;
  margin-top: 10px;
}